# Ignore everything
*

# But not these files...
!.gitignore
!dkr_decompressor.cpp
!GECompression.cpp
!GECompression.h
!DKRCompression.cpp
!DKRCompression.h
!DKRGzip.c
!DKRGzip.h
!Makefile
!LICENSE
!README.md
